*{
    box-sizing: border-box;
 }
 
 body {
    width: 95vw;
    margin: 0 auto;
    font-family: 'Cormorant Infant', serif;
    font-size: 18px;
}

#select{
    margin-left: 45.5vw;
}

li{
    line-height: 0px;
    width:auto;
}