*{
    box-sizing: border-box;
 }
 
 body {
     width: 80vw;
     margin: 0 auto;
     font-family:  Helvetica, Arial, sans-serif;
 }

 .container {
    width: 50vw;
    text-align: center;
  }

  
 
  