*{
    box-sizing: border-box;
}

body {
  width: 80vw;
  margin: 0 auto;
  font-family:  Helvetica, Arial, sans-serif;

}

ul{
  list-style-type: none;
}

.container{
  display: flex;
  justify-content: center;
  color: green;
  font-size: 30px;
  margin-top: -1220px;
}
