*{
    box-sizing: border-box;
}

body {
  width: 80vw;
  margin: 0 auto;
  font-family:  Helvetica, Arial, sans-serif;
  text-align: center;
}

label{
    margin-left: 200px;
}

.container{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

